:root{
    --gray: #6C807F;
    --ligth-marine: #D9FFFD;
    --darker-blue: #46807D;
    --marine: #8CFFF9;
    --blue: #70CCC7;
    --dark-blue: rgb(71, 153, 149);
}

* {

    margin: 0;
    padding: 0;
    
}

html {

    background-color: var(--gray);
}

#content {
    
    margin: 20px 34vw 10px 35vw;
    padding: 1%;
    border-radius: 10px;
    border: solid var(--darker-blue) 3px;
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.253);
    
}

#title {

    margin: 30px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    padding: 5px;
    
}

#cal-grid {

    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 5px;
}

#cal-section {

    margin: auto 5px auto 5px ;

}

#calculator {

    margin: auto;
    padding: 5px;
}


#screen {

    grid-area: 1/1/2/6;
    padding: 12px;
    text-align: end;
    font-size: 1.7em;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--ligth-marine);
    border: solid var(--darker-blue) 3px;
    
} 

.btn-num {

    border: solid var(--darker-blue) 3px;
    background-color: var(--blue);
    font-size: 2rem;
    border-radius: 5px;
    color: black;
}

.btn-ope {

    border: solid var(--darker-blue) 3px;
    background-color: var(--marine);
    font-size: 2rem;
    border-radius: 5px;
    color: black;
}

.other {

    border: solid var(--darker-blue) 3px;
    background-color: var(--marine);
    font-size: 2rem;
    border-radius: 5px;
    color: black;
}



.btn-num:hover {

    transition: 0.3s ease;
    background-color: rgb(177, 255, 251);
    font-size: 2.1rem;
}

.btn-ope:hover {

    transition: 0.3s ease;
    background-color: rgb(0, 153, 255);
    font-size: 2.1rem;
}

.other:hover {

    transition: 0.3s ease;
    background-color: rgb(0, 153, 255);
    font-size: 2.1rem;
}

#zero {

    grid-area: 5/1/6/4;
}

#clear {
    background: linear-gradient(rgb(255, 68, 68), rgb(255, 173, 173));
    font-size: 2rem;
    border-radius: 5px;
    color: black;
    border: solid var(--dark-blue) 3px;
}

#clear:hover {

    background: linear-gradient(rgb(252, 31, 31), rgb(255, 117, 117));
}

#contact {

    margin-top: 30px;
    color: #1C191C;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 77px;
    box-shadow: 0px 0px 3px 3px rgba(34, 34, 34, 0.438);
    
}

#end {

    text-align: center;
    margin: auto;
}

#contact_link {

    display: flex;
    margin-right: 40vh;

}

.contact_img {

    max-height: 60px;
    margin: auto 30px auto 30px;
    transition: 1s;
}

p {

    font-weight: bold;
    color: var(--marine);
    justify-content: center;
    align-items: center;
    
}

.contact_img:hover {

    padding-top: 10px;
    transition: 0.3s ease-in;
    
}
